<div class="desktop">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 card">
                <nav class="cardNav">
                    <ul class="cardList m-0">
                        <li><img src="{{imgUrl}}/logo/logo.png" alt=""></li>
                        <li class="ps-4 checkOut">SECURE CHECKOUT</li>
                    </ul>
                    <ul class="cardList m-0">
                        <li><img src="{{imgUrl}}/addToCart/icons8-help-32.png" class="img-fluid">Help</li>
                        <li class="pe-4 ps-4"><i class="fa-regular fa-user"></i> Sign In</li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row addToCart">
            <div class="col-12">
                <div class="container">
                    <div class="row ">
                        <div class="col-7">
                            <!-- <div class="card"></div> -->
                            <div class="card"></div>
                            <div class="card"></div>
                        </div>
                        <div class="col-5">
                            <div class="cartDetail card">
                                <div class="billDetail"></div>
                                <div class="review">
                                    <div>
                                        <p>Review your order and address details to avoid cancellations</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>