//MOBILE VIEW


$light-grey : var(--light-grey);
$primary-orange : var(--primary);

.main-container {
    background-color: #ffffff;
    min-height: 100vh;
}

.err_msg {
    font-size: 12px;
}

.top_container {
    position: relative;
    height: 170px;
    background-color: rgba(211, 219, 234, .3);
    padding: 18px;
}

.logo {
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.back_btn {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    background-color: transparent;
}

.Login_txt {
    position: absolute;
    // left: 10px;
    bottom: 15px;
}

.Login_container {
    margin-top: 5px;
    padding: 16px
}

.input_box {
    height: 70px;

    // margin: 20px 0 10px 0;
    .signup_form_group {
        position: relative;
        padding: 10px 0 0;
        margin-top: 10px;
        width: 100%;
        margin-bottom: 20px;
    }

    .signup_form_field {
        font-family: inherit;
        width: 100%;
        border: 0;
        border-bottom: 1px solid #7e808c;
        outline: 0;
        font-size: 16px;

        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;

        &::placeholder {
            color: transparent;
        }

        &:placeholder-shown~.signup_form__label {
            font-size: 14px;
            top: 20px;
        }
    }

    .signup_form__label {
        position: absolute;
        top: -10px;
        display: block;
        transition: 0.2s;
        font-size: 14px;
        color: #7e808c;
    }

    .signup_form_field:focus {
        ~.signup_form__label {
            position: absolute;
            top: -10px;
            display: block;
            color: #7e808c;
            transition: 0.2s;
            font-size: 12px;
            //   font-weight:700;    
        }

        padding-bottom: 6px;
        // font-weight: 700;


        border-image-slice: 1;
    }

    /* reset input */
    .signup_form_field {

        &:required,
        &:invalid {
            box-shadow: none;
        }
    }
}

.country_Code {
    position: absolute;
    top: 17px;
    opacity: 0;
}

.Continue_btn {
    width: 100%;
    padding: 10px;
    background-color: $primary-orange ;
    border: none;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

//DESKTOP

.desktop {
    .login-content {
        width: 406px;

        .close-btn {
            position: relative;
            padding-top: 30px;
            margin-bottom: 69px;
            z-index: 1;
            height: 130px;

            .icon {
                color: #535665;
                cursor: pointer;
                font-weight: 600;
                padding: 7px;
            }

            .loginTxt {
                margin-top: 25px;
                font-size: 30px;
                font-weight: 500;
            }

            .account {
                margin-top: 10px;
                position: relative;

                .loginLink {
                    font-weight: 500;
                    cursor: pointer;
                    color: #fc8019;
                    text-decoration: none;
                }
            }

            .account::after {
                content: "";
                position: absolute;
                bottom: -22px;
                left: 0;
                width: 30px;
                border: 1px solid #000;
            }

            .canvasImg {
                position: absolute;
                top: 40px;
                right: 0;
                z-index: -1;
                width: 30%;
            }
        }
    }

    .canvasLogin {
        border: 1px solid #d4d5d9;
        padding: 0;
        display: block;
        position: relative;
        transform: translateZ(0);

        input {
            background-color: transparent;
            line-height: normal;
            border: none;
            outline: none;
            height: 70px;
            width: 100%;
            font-size: 17px;
            margin: 0;
            padding: 0 20px;
            font-weight: 500;
        }

        .label {
            position: absolute;
            left: 0;
            bottom: 24px;
            padding-left: 20px;
            line-height: 20px;
            font-size: 17px;
            cursor: text;
            transition: .2s ease;
            width: 100%;
            color: #93959f;
            will-change: transform, color, font-size;
            pointer-events: none;
            font-weight: 400;
        }

        .addTrans {
            font-size: 12px;
            font-weight: 500;
            color: #7e808c;
            transform: translateY(-70%);
        }

        .mNo {
            position: absolute;
            right: 20px;
            bottom: 26px;
            font-size: 14px;
            font-weight: 500;
            color: #5d8ed5;
            transform: translateZ(0);
            cursor: pointer;
            will-change: transform;
            transition: .2s ease;
        }
    }

    .error-Msg {
        color: red !important;
    }

    .canvasLogin:last-child {
        border-bottom: 1px solid #d4d5d9 !important;

    }

    .cLoginBtn {
        background-color: #fc8019;
        height: 50px;
        padding: 0px 2rem;
        text-align: center;
        margin-top: 23px;

        a {
            color: #fff;
            text-decoration: none;
            font-weight: 500;
            text-transform: uppercase;
            position: relative;
            top: 10px;
        }
    }

    .referalCode {
        font-size: 1.1rem;
        font-weight: 500;
        color: #5d8ed5;
    }

    .referalCode:active {
        border: none;
    }

    .terms-and-conditions {
        font-size: 12px;
        color: #686b78;
        margin-top: 6px;
        font-weight: 500;

        a {
            text-decoration: none;
        }
    }
}