<div class="desktop" *ngIf="!isMobileScreen">
    <div class="container-fluid">
        <div class="top-content row">
            <div class="col-xl-6">
                <div class="topLanding">
                    <div class="row logo-Div">
                        <div class="col-4 col-sm-3">
                            <img src="{{imageUrl}}/login/logo.png" alt="" class="img-fluid">
                        </div>
                        <div class="col-8 text-center pt-3 landBtnDiv">
                            <button class="loginBtn pe-5" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                aria-controls="offcanvasRight">Login</button>
                            <button class="signUpBtn" data-bs-toggle="offcanvas" data-bs-target="#signUpRight"
                                aria-controls="offcanvasRight">Sign up</button>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-12 col-sm-9 foodLocation">
                            <h1>Hungry?</h1>
                            <h2>Order food from favourite restaurants near you.</h2>
                            <div class="input-group input-group-lg mt-4">
                                <input type="text" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-lg" placeholder="Enter your delivery location">
                                <span class="input-group-text">FIND FOOD</span>
                            </div>
                            <h3 class="popular">POPULAR CITIES IN INDIA</h3>
                            <ul class="cityName">
                                <li class="grey">Ahmedabad</li>
                                <li class="dark">Bangalore</li>
                                <li class="grey">Chennai</li>
                                <li class="dark">Delhi</li>
                                <li class="grey">Gurgaon</li>
                                <li class="dark">Hyderabad</li>
                                <li class="grey">Kolkata</li>
                                <li class="dark">& more</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 landLeftImg"></div>
        </div>
        <div class="bottom-content row">
            <div class="container">
                <div class="row">
                    <div class="text-center col-4 food-facility">
                        <div class="landFaclity">
                            <img src="{{imageUrl}}/login/4x_-_No_min_order_x0bxuf.png" alt="" width="100">
                        </div>
                        <div class="header pt-3">No Minimum Order</div>
                        <div class="paragraph pt-2">Order in for yourself or for the group, with no restrictions on
                            order
                            value
                        </div>
                    </div>
                    <div class="text-center col-4 food-facility">
                        <div class="landFaclity">
                            <img src="{{imageUrl}}/login/4x_Live_order_zzotwy.png" alt="" width="100">
                        </div>
                        <div class="header pt-3">Live Order Tracking</div>
                        <div class="paragraph pt-2">Know where your order is at all times, from the restaurant to your
                            doorstep
                        </div>
                    </div>
                    <div class="text-center col-4 food-facility">
                        <div class="landFaclity">
                            <img src="{{imageUrl}}/login/4x_-_Super_fast_delivery_awv7sn.png" alt="" width="100">
                        </div>
                        <div class="header pt-3">Lightning-Fast Delivery</div>
                        <div class="paragraph pt-2">Experience Swiggy's superfast delivery for food delivered fresh & on
                            time
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-end login-canvas" tabindex="-1" id="offcanvasRight"
        aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-body login-body">
            <app-login> </app-login>
        </div>
    </div>

    <div class="offcanvas offcanvas-end signUp-canvas" tabindex="-1" id="signUpRight"
        aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-body singUp-body">
            <app-sign-up></app-sign-up>
        </div>
    </div>
</div>


<!--Mobil View-->

<div *ngIf="isMobileScreen">
    <div class="mobile_device">
        <div class="main-container">
            <div class="h-100">
                <div class="top_container">
                    <button (click)="Back()" class="back_btn">
                        <img src="{{imageUrl}}/login/back_arrow.png" alt="">
                    </button>
                    <img class="logo" src="{{imageUrl}}/login/logo-removebg-preview.png" alt="">
                    <div class="Login_txt">
                        <h2 style="font-weight: 600;text-transform: uppercase;" class="m-0">Login</h2>
                        <p class="my-0" style="color:#7e808c;font-weight: 400;font-size: small;margin-right:100px;">
                            Enter your phone number to continue</p>
                    </div>
                </div>
                <div class="Login_container">
                    <!------- LOGIN FORM ------->
                    <form [formGroup]="loginForm" *ngIf="!isOtpSent" autocomplete="off">
                        <div class="input_box">
                            <div class="login_group field">
                                <input formControlName="mobile_number" type="number"
                                    class="phone_number login_form_field" placeholder="PHONE NUMBER" name="phone"
                                    id="phone" />
                                <label for="phone" class="login_form__label">PHONE NUMBER</label>
                                <div class="text-danger err_msg mt-1"
                                    *ngIf="(loginForm.get('mobile_number').touched || Submitted ) && loginForm.get('mobile_number').errors?.required">
                                    Phone Number is required
                                </div>
                                <div class="text-danger err_msg mt-1"
                                    *ngIf="(loginForm.get('mobile_number').touched || Submitted) && loginForm.get('mobile_number').errors?.pattern">
                                    Invalid Phone Number
                                </div>
                            </div>

                        </div>
                        <div class="Continue_Btn_container mt-3">
                            <button (click)="Login()" type="button" class="Continue_btn">
                                {{buttonText}}
                            </button>
                        </div>
                    </form>

                    <!-- OTP -->
                    <form *ngIf="isOtpSent">
                        <div class="input_box">
                            <div class="login_group field">
                                <input type="input" class="login_form_field" placeholder="ENTER OTP" name="otp"
                                    id='otp' />
                                <label for="otp" class="login_form__label">ENTER OTP</label>
                            </div>
                        </div>
                        <div class="Continue_Btn_container mt-3">
                            <button (click)="VerifyOtp()" type="button" class="Continue_btn">
                                Verfiy
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>