<div class="login-content loginForm">
    <div class="close-btn"><span class="icon btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></span>
        <div class="loginTxt">Login</div>
        <div class="account">or <a class="loginLink">create an account</a></div>
      <div class="canvasImg">
        <img class="img-fluid"  imageid="" alt="img renderer"
        src="{{imageUrl}}/login/Image-login_btpq7r.png">
      </div>
    </div>
    <form>
        <div>
            <div class="canvasLogin">
                <input  type="tel" name="mobile" id="mobile" tabindex="1"
                    maxlength="10" autocomplete="off" value="">
                <div class="mNo"></div>
                <label class="label" for="mobile">Phone number</label>
            </div>
        </div>
        <div class="cLoginBtn"><a class=""><input type="submit" style="display: none;">Login</a>
        </div>
        <div class="terms-and-conditions">By clicking on Login, I accept the <a class="IBw2l"
                href="/terms-and-conditions" style="color: #282c3f;">Terms &amp; Conditions</a> &amp; <a
                class="IBw2l" style="color: #282c3f;" href="/privacy-policy">Privacy Policy</a></div>
    </form>
</div>