.container-fluid {
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: ProximaNova, arial, Helvetica Neue, sans-serif;

    .top-content {
        height: 60vh;

        .topLanding {
            padding-left: 20%;
            padding-top: 5%;

            .landBtnDiv {
                .signUpBtn {
                    height: 40px;
                    width: auto;
                    padding: 10px;
                    background: #000;
                    color: #fff;
                    border: none;
                }

                .loginBtn {
                    border: none;
                    background: none;
                }

                .loginBtn:focus-visible {
                    outline: 0 !important;
                }

                .loginBtn:hover {
                    color: #FB8B24 !important;
                }

                .loginBtn:active {
                    color: #FB8B24 !important;
                }

                button {
                    font-size: 16px;
                    font-weight: 600;
                }
            }

            h1 {
                margin-top: 40px;
                margin-bottom: 0;
                font-size: 40px;
                font-weight: 600;
                letter-spacing: -.45px;
            }

            h2 {
                font-size: 24px;
                font-weight: 300;
                line-height: 30px;
                color: #686b78;
            }

            .cityName {
                list-style: none;
                padding-left: 0;

                .dark {
                    color: #93959f;
                }

                li {
                    display: inline-block;
                    font-weight: 600;
                    font-size: 16px;
                    margin-right: 8px;
                    color: #686b78;
                    line-height: 1.5;
                    letter-spacing: -.3px;
                }
            }

            .popular {
                font-weight: 400;
                font-size: 15px;
                color: #a9abb2;
                margin: 30px 0 10px;
                letter-spacing: -.2px;
                text-transform: uppercase;

            }

            .locateMe {
                position: absolute;
                right: 1230px;
                top: 283px;
                padding: 12px 10px;
                font-weight: 500;
                font-size: 14px;
                cursor: pointer;
                letter-spacing: -.35px;
            }

            .input-group {
                width: 89%;

                input {
                    border-radius: 0;
                    font-size: 18px;
                    font-weight: 500;
                }

                input:focus {
                    border-color: #fc8019;
                    box-shadow: none;
                }

                input::after {
                    content: 'locate Me';
                }

                input::placeholder {
                    color: #686b78;
                    font-size: 18px;
                    font-weight: 500;
                    font-size: 15px;
                    word-wrap: normal;
                }

                .input-group-text {
                    border-radius: 0;
                    padding: 15px 30px;
                    background-color: #FB8B24;
                    font-size: 16px;
                    font-weight: 700;
                    color: #fff;
                }
            }
        }

        .landLeftImg {
            background-image: url('/assets/images/login/Lunch1_vlksgq.png');
            z-index: -1;
            background-repeat: no-repeat;
            max-width: 100%;
            height: auto;
            background-size: cover;
            background-position: 100%;
            background-color: hsla(26, 5%, 70%, .2);
        }
    }

    .bottom-content {
        height: 40vh;
        background-color: #36454F;
        padding: 0 20px;
        color: #fff;

        .container {
            .landFaclity {
                height: 230px;
                text-align: center;

                img {
                    height: 100%;
                }
            }

            .header {
                font-size: 20px;
                font-weight: 600;
                margin-top: 0;
            }

            .paragraph {
                color: #4e738c;
                font-size: 15px;
                // margin-top: 10px;
                line-height: 1.3;
            }
        }
    }
}

    .login-content {
        // padding-left: 40px;
        // padding-right: 352px;
        width: 406px;


        .close-btn {
            position: relative;
            padding-top: 30px;
            margin-bottom: 69px;
            z-index: 1;
            height: 130px;

            .icon {
                color: #535665;
                cursor: pointer;
                font-weight: 600;
                padding: 7px;
            }

            .loginTxt {
                margin-top: 25px;
                font-size: 30px;
                font-weight: 500;
            }

            .account {
                margin-top: 10px;
                position: relative;

                .loginLink {
                    font-weight: 500;
                    cursor: pointer;
                    color: #fc8019;
                    text-decoration: none;
                }
            }

            .account::after {
                content: "";
                position: absolute;
                bottom: -22px;
                left: 0;
                width: 30px;
                border: 1px solid #000;
            }

            .canvasImg {
                width: 30%;
                position: absolute;
                top: 43px;
                right: 0px;

                // position: absolute;
                // top: 58px;
                // right: 0;
                // z-index: -1;
            }
        }
    }

    .canvasLogin {
        border: 1px solid #d4d5d9;
        padding: 0;
        display: block;
        position: relative;
        transform: translateZ(0);

        input {
            background-color: transparent;
            line-height: normal;
            border: none;
            outline: none;
            height: 70px;
            width: 100%;
            font-size: 17px;
            margin: 0;
            padding: 0 20px;
            padding-top: 22px;
            font-weight: 500;
        }

        .label {
            position: absolute;
            left: 0;
            bottom: 24px;
            padding-left: 20px;
            line-height: 20px;
            font-size: 17px;
            cursor: text;
            transition: .2s ease;
            width: 100%;
            color: #93959f;
            will-change: transform, color, font-size;
            pointer-events: none;
            font-weight: 400;
        }

        .addTrans {
            font-size: 12px;
            font-weight: 500;
            color: #7e808c;
            transform: translateY(-70%);
        }

        .mNo {
            position: absolute;
            right: 20px;
            bottom: 26px;
            font-size: 14px;
            font-weight: 500;
            color: #5d8ed5;
            transform: translateZ(0);
            cursor: pointer;
            will-change: transform;
            transition: .2s ease;
        }
    }
    .error-Msg {
        color: red !important;
    }
    .canvasLogin:last-child {
        border-bottom: 1px solid #d4d5d9 !important;

    }

    .cLoginBtn {
        background-color: #fc8019;
        height: 50px;
        padding: 0px 2rem;
        text-align: center;
        margin-top: 23px;

        a {
            color: #fff;
            text-decoration: none;
            font-weight: 500;
            text-transform: uppercase;
            position: relative;
            top: 10px;
        }
    }

    .referalCode {
        font-size: 1.1rem;
        font-weight: 500;
        color: #5d8ed5;
    }

    .referalCode:active {
        border: none;
    }

    .terms-and-conditions {
        font-size: 12px;
        color: #686b78;
        margin-top: 6px;
        font-weight: 500;

        a {
            text-decoration: none;
        }
    }
// }

@media (width <=700px) and (width >=600px) {
    .topLanding {
        padding-top: 14% !important;
        padding-left: 10% !important;

        h1 {
            margin-top: 20px !important;
            font-size: 20px !important;
        }

        h2 {
            font-size: 15px !important;
            line-height: 25px !important;
        }

        .input-group {
            width: 136% !important;
        }

        .input-group-text {
            padding: 11px 4px !important;
        }

    }

    .header {
        font-size: 14px !important;
    }

    .paragraph {
        font-size: 12px !important;
    }

    .offcanvas-end {
        max-width: 500px !important;
        min-width: 500px !important;
    }
}

@media (width <=768px) and (width >=700px) {
    .topLanding {
        padding-top: 14% !important;
        padding-left: 10% !important;

        h1 {
            margin-top: 20px !important;
            font-size: 20px !important;
        }

        h2 {
            font-size: 15px !important;
            line-height: 25px !important;
        }

        .input-group {
            width: 136% !important;
        }

        .input-group-text {
            padding: 11px 4px !important;
        }

    }

    .header {
        font-size: 14px !important;
    }

    .paragraph {
        font-size: 12px !important;
    }

    .offcanvas-end {
        max-width: 500px !important;
        min-width: 500px !important;
    }
}

@media (max-width: 992px) and (min-width:768px) {
    .landFaclity {
        height: 190px !important;
    }

    .header {
        font-size: 15px !important;
        font-weight: 600;
        margin-top: 0;
    }

    .topLanding {
        padding-top: 5% !important;
        padding-left: 7% !important;

        .input-group {
            width: 135% !important;
        }

        .input-group-text {
            padding: 12px 10px !important;
        }

        h2 {
            font-size: 20px !important;
            line-height: 25px !important;
            padding-top: 10px !important;
        }
    }

    .offcanvas-end {
        max-width: 600px !important;
        min-width: 600px !important;
        overflow-x: hidden !important;

        .login-content {
            overflow: hidden !important;
        }
    }
}

@media (max-width: 1024px) and (max-height:768px) {
    .landFaclity {
        height: 190px !important;
    }

    .topLanding {
        .input-group {
            margin-top: 1rem !important;
            width: 127% !important;
        }
    }
}

@media (max-width: 1024px) and (max-height:600px) {
    .topLanding {
        h1 {
            margin-top: 16px !important;
            font-size: 20px !important;
        }

        h2 {
            font-size: 15px !important;
            line-height: 25px !important;
        }

        .popular {
            margin-top: 17px !important;
        }

        .input-group {
            margin-top: 1rem !important;
            width: 127% !important;
        }

        .cityName {
            li {
                font-size: 15px !important;
            }
        }
    }

    .landFaclity {
        height: 160px !important;
    }

    .header {
        font-size: 15px !important;
        font-weight: 600;
        margin-top: 0;
    }

    .paragraph {
        font-size: 13px !important;
    }
}

@media (max-width: 768px) and (max-height:768px) {
    .topLanding {
        .landBtnDiv {
            padding-top: 0 !important;

            .signUpBtn {
                padding: 5px !important;
            }
        }
    }
}

@media (max-width: 720px) and (max-height:540px) {
    .topLanding {
        padding-top: 4% !important;

        h1 {
            margin-top: 11px !important;
            font-size: 17px !important;
        }

        h2 {
            font-size: 15px !important;
            line-height: 20px !important;
            padding-top: 5px !important;

        }

        .input-group-text {
            padding: 8px 4px !important;
        }
    }

    .popular {
        margin: 0px 0 3px;
    }

    .offcanvas-end {
        max-width: 500px !important;
        min-width: 500px !important;
    }
}

@media (max-width:1400px) and (min-width:1100px) {
    .topLanding {
        .input-group {
            width: 130% !important;
        }
    }
}

@media (max-width:1100px) and (min-width:992px) {
    .topLanding {
        .input-group {
            width: 130% !important;
        }
    }
}