 .login-content {
     width: 406px;

     .close-btn {
         position: relative;
         padding-top: 30px;
         margin-bottom: 69px;
         z-index: 1;
         height: 130px;

         .icon {
             color: #535665;
             cursor: pointer;
             font-weight: 600;
             padding: 7px;
         }

         .loginTxt {
             margin-top: 25px;
             font-size: 30px;
             font-weight: 500;
         }

         .account {
             margin-top: 10px;
             position: relative;

             .loginLink {
                 font-weight: 500;
                 cursor: pointer;
                 color: #fc8019;
                 text-decoration: none;
             }
         }

         .account::after {
             content: "";
             position: absolute;
             bottom: -22px;
             left: 0;
             width: 30px;
             border: 1px solid #000;
         }

         .canvasImg {
             width: 30%;
             position: absolute;
             top: 43px;
             right: 0px;

             // position: absolute;
             // top: 58px;
             // right: 0;
             // z-index: -1;
         }
     }
 }

 .canvasLogin {
     border: 1px solid #d4d5d9;
     padding: 0;
     display: block;
     position: relative;
     transform: translateZ(0);

     input {
         background-color: transparent;
         line-height: normal;
         border: none;
         outline: none;
         height: 70px;
         width: 100%;
         font-size: 17px;
         margin: 0;
         padding: 0 20px;
         font-weight: 500;
     }

     .label {
         position: absolute;
         left: 0;
         bottom: 24px;
         padding-left: 20px;
         line-height: 20px;
         font-size: 17px;
         cursor: text;
         transition: .2s ease;
         width: 100%;
         color: #93959f;
         will-change: transform, color, font-size;
         pointer-events: none;
         font-weight: 400;
     }

     .addTrans {
         font-size: 12px;
         font-weight: 500;
         color: #7e808c;
         transform: translateY(-70%);
     }

     .mNo {
         position: absolute;
         right: 20px;
         bottom: 26px;
         font-size: 14px;
         font-weight: 500;
         color: #5d8ed5;
         transform: translateZ(0);
         cursor: pointer;
         will-change: transform;
         transition: .2s ease;
     }
 }

 .error-Msg {
     color: red !important;
 }

 .canvasLogin:last-child {
     border-bottom: 1px solid #d4d5d9 !important;

 }

 .cLoginBtn {
     background-color: #fc8019;
     height: 50px;
     padding: 0px 2rem;
     text-align: center;
     margin-top: 23px;
    cursor: pointer;
     a {
         color: #fff;
         text-decoration: none;
         font-weight: 500;
         text-transform: uppercase;
         position: relative;
         top: 10px;
     }
 }

 .referalCode {
     font-size: 1.1rem;
     font-weight: 500;
     color: #5d8ed5;
 }

 .referalCode:active {
     border: none;
 }

 .terms-and-conditions {
     font-size: 12px;
     color: #686b78;
     margin-top: 6px;
     font-weight: 500;

     a {
         text-decoration: none;
     }
 }
